{% include 'authentication/base.html' %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block section %}
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center">Login Your Account</h3>
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{message.tags}}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>{{message}}</strong>
          </div>
          {% endfor %}
          {% endif %}
          {% if otp %}
          <h3 class="mb-4 text-center">Check your mail we sent OTP to your provide email</h3>
          <form method="POST">{% csrf_token %}
            <div class="form-group">
              <input type="number" class="form-control" placeholder="Enter Your OTP" name="otp" required>
            </div>
            <div class="form-group">
              <input type="hidden" class="form-control" name="useremail" value="{{user.email}}" required>
            </div>
            <div class="form-group">
              <button type="submit" class="form-control btn btn-primary submit px-3">Verify OTP</button>
            </div>
          </form>
          {% else %}
          <form action="{% url 'login'%}" method="POST" class="signin-form">{% csrf_token %}
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" name="em" required>
            </div>
            <div class="form-group">
              <input id="password-field" type="password" class="form-control" placeholder="Password" name="ps" required>
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>
            <div class="form-group">
              <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
            </div>
            <div class="form-group d-md-flex">
              <div class="w-50">
                <label class="checkbox-wrap checkbox-primary">Remember Me
                  <input type="checkbox" checked>
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="w-50 text-md-right">
                <a href="{% url 'email_forgot_password' %}" style="color: #fff">Forgot Password</a>
              </div>
            </div>
          </form>
          {% endif %}
          <p class="w-100 text-center">&mdash; Not have an account? &mdash;</p>
          <div class="social d-flex text-center">
            <a href="/register/" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span>Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock section%}